/* @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Geist";
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    overflow-x: hidden;
  }
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.drop-shadow-md {
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

/* @keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 15s ease infinite;
}

.bg-radial-from-center {
  background: radial-gradient(circle at center, var(--tw-gradient-from) 0%, var(--tw-gradient-to) 70%);
}

.bg-radial-from-bottom-right {
  background: radial-gradient(circle at 75% 75%, var(--tw-gradient-from) 0%, var(--tw-gradient-to) 50%);
} */